*{
padding: 0;
margin:0;
box-sizing: border-box;
font-family: 'Josefin Sans', sans-serif;
font-weight: bold;
}
body{
background-color: black;
font-family: 'Josefin Sans', sans-serif;
color: antiquewhite;
}
#logo{
max-height:100px ;
max-width:100px;
}
.Don{
height: -50px;
width: 100%;
}
nav{
justify-content:space-evenly;
display: flex;
align-items: center;
padding-top: 40px;
padding-left:10% ;
padding-right: 10%;
}
nav ul li{
display: inline-block;
list-style-type: none;
padding: 10px 20px ;
}
nav ul li a{
color: white ;
text-decoration: none;
font-weight: bold;
}
nav ul li a:hover{
color:#0088a9 ;
transition: .3s;
}
a{
    color:inherit;
    text-decoration: none;
}

#contact{
border: none;  
padding: 12px 30px;
background: #0088a9;
border-radius: 30px;
font-size: 15px;
transition: .4s;
text-decoration: none;
font-weight:bold;
color: white;
}
.content{
    font-size: 20px;
    text-align: center;
    word-spacing: 2px;
}

h2{
text-shadow:#0088a9 -2px 0;
text-align:center;
}
#akira{
    max-width: 500px;
    display: block;
    margin-left:auto ;
    margin-right: auto;
}
.Self{
    margin-left: 20px;
    font-size: 20px;
    font-style: italic;
}
.projects{
    font-size: 20px;
}
h3{
    text-shadow: red 2px 0;
    text-decoration: underline;
    
}
.contain {
    position:relative;
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }